source ~/.aliases

zoxide init fish | source


# Helix configuration
bind ctrl-z 'fg 2>/dev/null; commandline -f repaint'

{{ if eq .chezmoi.os "darwin"  }}
## Macos
fish_add_path /opt/homebrew/bin
{{end}}

# If not on nixos
{{if not (eq .chezmoi.hostname "nixos")}}
starship init fish | source

direnv hook fish | source

# Set up Fzf key bindings
fzf --fish | source

fish_add_path ~/bin/
fish_add_path ~/bin/nvim-linux-x86_64/bin/
fish_add_path ~/bin/nvim/bin/
fish_add_path ~/bin/emacs/bin/
fish_add_path ~/.cargo/bin/
fish_add_path ~/.local/bin/
fish_add_path /usr/local/go/bin
fish_add_path ~/go/bin
fish_add_path ~/bin/codelldb/extension/adapter/

fish_add_path ~/go/bin
{{end}}

fish_add_path $HOME/.config/emacs/bin
fish_add_path $HOME/bin


export BROWSER='firefox'
export EDITOR='hx'
export TERMINAL='alacritty'
export TERM='xterm'
export OLLAMA_API_BASE=http://127.0.0.1:11434
export MANPAGER="sh -c 'awk '\''{ gsub(/\x1B\[[0-9;]*m/, \"\", \$0); gsub(/.\x08/, \"\", \$0); print }'\'' | bat -p -lman'"

# Fzf configuration
export FZF_CTRL_T_OPTS="
--preview 'bat -n --color=always {}'
--bind 'ctrl-d:reload( fd --type d -I -H -L --exclude .git),ctrl-f:reload( fd --type f -I -H -L --exclude .git),ctrl-t:reload( fd -I -H -L --exclude .git ),ctrl-c:abort'
--header 'Ctrl-f for files, Ctrl-d for directories and Ctrl-t for all'"
export FZF_CTRL_R_OPTS="--color header:italic"
export FZF_ALT_C_OPTS="--preview 'tree -C {}'"
export FZF_CTRL_T_COMMAND="fd  -I -H -L --exclude .git"
set -Ux fifc_editor hx
set -U fifc_keybinding \cx


# Use bat for help
abbr -a --position anywhere -- --help '--help | bat -plhelp'
abbr -a --position anywhere -- -h '-h | bat -plhelp'

# Use vi key keybings in fish
fish_vi_key_bindings
# change the cursor’s shape depending on the mode
fish_vi_cursor
# Set the normal and visual mode cursors to a block
set fish_cursor_default block
# Set the insert mode cursor to a line
set fish_cursor_insert line

function fzz
	zellij a (zellij ls -n | cut -d' ' -f1 |fzf)
end

function y
	set tmp (mktemp -t "yazi-cwd.XXXXXX")
	yazi $argv --cwd-file="$tmp"
	if read -z cwd < "$tmp"; and [ -n "$cwd" ]; and [ "$cwd" != "$PWD" ]
		builtin cd -- "$cwd"
	end
	rm -f -- "$tmp"
end

{{if (and (eq .chezmoi.os "linux") (eq .chezmoi.username "stheoret") )}}
export LC_ALL=en_US.UTF-8
{{end}}


# SSH Agent management
if test -z "$SSH_AUTH_SOCK"
    # Check for a running ssh-agent
    set -l ssh_agent_pid (pgrep -u $USER ssh-agent | head -1)

    if test -n "$ssh_agent_pid"
        # Try to find the socket
        set -l socket (find /tmp -maxdepth 2 -type s -name "agent.*" -user $USER 2>/dev/null | head -1)
        if test -n "$socket"
            set -gx SSH_AUTH_SOCK $socket
            set -gx SSH_AGENT_PID $ssh_agent_pid
            if status --is-interactive
			    echo "ssh agent reused at socket: $SSH_AUTH_SOCK with pid: $SSH_AGENT_PID"
            end
        else
            # No socket found, start new agent
            eval (ssh-agent -c)
            if status --is-interactive
			    echo "No ssh-agent socket found. Starting new ssh-agent"
            end
        end
    else
        # No agent running, start one
        eval (ssh-agent -c)
        if status --is-interactive
		    echo "No agent running. Starting new ssh-agent"
        end
    end
end

# Autolaunch zellij if not already launched and terminal is interactive
if set -q ZELLIJ or not status --is-interactive
else
	zellij
end

