source ~/.aliases

zoxide init fish | source

# If not on nixos
{{if not (eq .chezmoi.hostname "nixos")}}
starship init fish | source

direnv hook fish | source

# Set up fzf key bindings
fzf --fish | source
export FZF_DEFAULT_COMMAND="fd --type file --color=always"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_DEFAULT_OPTS="--ansi"

fish_add_path ~/bin/
fish_add_path ~/bin/nvim-linux64/bin/
fish_add_path ~/.cargo/bin/
fish_add_path ~/.local/bin/

{{end}}

# Vterm configuration
export BROWSER='firefox'


{{if (and (eq .chezmoi.os "linux") (eq .chezmoi.username "stheoret") )}}
export LC_ALL=en_US.UTF-8
{{end}}

## if [ "$INSIDE_EMACS" = 'vterm' ]
##     function clear
##         vterm_printf "51;Evterm-clear-scrollback";
##         tput clear;
##     end
## end
## function vterm_printf;
##     if begin; [  -n "$TMUX" ]  ; and  string match -q -r "screen|tmux" "$TERM"; end
##         # tell tmux to pass the escape sequences through
##         printf "\ePtmux;\e\e]%s\007\e\\" "$argv"
##     else if string match -q -- "screen*" "$TERM"
##         # GNU screen (screen, screen-256color, screen-256color-bce)
##         printf "\eP\e]%s\007\e\\" "$argv"
##     else
##         printf "\e]%s\e\\" "$argv"
##     end
## end
# end of Vterm configuration

# Eat integration
# source ~/.config/fish/fish_eat_integration
# end of Eat integration





