[user]
    {{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (eq .chezmoi.username "stheoret") ))  }}
	email = stheoret@druide.com
    {{else}}
    email = simonteoret@hotmail.com
    {{end}}
	name = Simon Théorêt
[pull]
	rebase = true
[core]
    editor = $EDITOR
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = false
    syntax-theme = gruvbox-dark
	features = diff-so-fancy
# [merge]
#     tool = "nvimdiff"
# [difftool]
#     prompt = true
# [diff]
#     tool = nvimdiff
# [difftool "nvimdiff"]
#     cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[filter "lfs"]
       clean = git-lfs clean -- %f
       smudge = git-lfs smudge -- %f
       process = git-lfs filter-process
       required = true
