[user]
    {{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (eq .chezmoi.username "stheoret") ))  }}
	email = stheoret@druide.com
    {{else}}
    email = simonteoret@hotmail.com
    {{end}}
	name = Simon Théorêt
[pull]
	rebase = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictstyle = zdiff3
