[user]
    {{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (eq .chezmoi.username "stheoret") ))  }}
	email = stheoret@druide.com
    {{else}}
    email = simonteoret@hotmail.com
    {{end}}
	name = Simon Théorêt
[pull]
	rebase = true
[core]
    editor = $EDITOR
    pager = delta
    excludesfile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = false
	features = diff-so-fancy
# [merge]
# 	tool = codediff
[difftool]
    prompt = true
# [diff]
# 	tool = codediff
# [mergetool "codediff"]
# 	cmd = nvim \"$MERGED\" -c \"CodeDiff merge \\\"$MERGED\\\"\"
# [difftool "codediff"]
# 	cmd = nvim \"$LOCAL\" \"$REMOTE\" +\"CodeDiff file $LOCAL $REMOTE\"

[filter "lfs"]
       clean = git-lfs clean -- %f
       smudge = git-lfs smudge -- %f
       process = git-lfs filter-process
       required = true

[alias]
	g = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ad)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    c = commit -m
    s = status
    p = push

{{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (eq .chezmoi.username "stheoret") ))  }}
[lfs "https://git.druide.com/dev/code.git/info/lfs"]
    locksverify = true
{{end}}
