
font_family      JetBrainsMono Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto

{{ if eq .chezmoi.os "darwin"  }}
## Macos
font_size 13
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS"))}}
## NixOS
font_size 10
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "stheoret") )}}
## Serveur druide
font_size 13
{{else}}
## Autre
font_size 10
{{end}}


background_opacity 0.80

background_blur 32



macos_option_as_alt yes

# BEGIN_KITTY_THEME
# Monokai Soda
include current-theme.conf
# END_KITTY_THEME
