## PYTHON STUFF

[[language]]
name = "python"
auto-format = true
language-servers = [
    {name = "ty"},
    {name = "ruff"},
]

[language-server.basedpyright]
command = "ty"
args = ["--stdio"]

# [language-server.basedpyright.config]
# basedpyright.analysis.typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff"
args = ["server"]


## RUST STUFF

[[language]]
name = "rust"
auto-format = true
language-servers = [
    {name = "rust-analyzer"},
]

[language-server.rust-analyzer.config]
files = { exclude = ["~/.cargo", "~/.rustup"], watcherExclude = ["~/.cargo", "~/.rustup"] }

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.rust-analyzer.config.cargo]
features = "all"


## CPP STUFF

[[language]]
name = "cpp"
language-servers = [
    {name = "clangd"},
]
roots = [".git", "CMakeLists.txt"]

[language-server.clangd]
command = "clangd"
args = ["--enable-config"]

## SHELL STUFF

[[language]]
name = "bash"
formatter = { command = "shfmt", args = ["-filename", "%{buffer_name}"] }
auto-format = true

## NIX STUFF

[[language]]
name = "nix"
formatter = { command = "nixfmt", args = ["-q"] }
auto-format = true

## WEB STUFF

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "scss"
formatter = { command = 'prettier', args = ["--parser", "scss"] }
auto-format = true


## OTHER STUFF

[[language]]
name = "csv"
file-types = ["csv"]
scope = "source.csv"

[[grammar]]
name = "csv"
source.git = "https://github.com/weartist/rainbow-csv-tree-sitter"
source.rev = "896e6d09b23a1b0d87e45bf97ca34a249f41495c"

[[language]]
name = "markdown"
comment-tokens = ["-", "+", "*", "- [ ]", ">"]

