{{ if eq .chezmoi.os "darwin"  }}
import = [ "theme.toml" ]
live_config_reload = true
{{else}}
[general]
#import = [ "theme.toml" ]
live_config_reload = true
{{end}}

[font]
{{ if eq .chezmoi.os "darwin"  }}
## Macos
size=15
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") (eq (env "NIXOS_CONF") "laptop" ))}}
## NixOS Laptop
size=15
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") (eq (env "NIXOS_CONF") "desktop"))}}
## NixOS Desktop
size=13
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "stheoret") )}}
## Serveur druide
size=13
{{else}}
## Autre
size=10
{{end}}

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[window]
opacity = 0.80
blur = true
dynamic_padding = true
option_as_alt = "Both"
