
{{ if not (eq .chezmoi.os "darwin")  }}
[general]
{{end}}
import = [
    "~/.config/alacritty/themes/themes/kanagawa_dragon.toml"
]
live_config_reload = true

[font]
{{ if eq .chezmoi.os "darwin"  }}
## Macos
size=15
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") (eq (env "NIXOS_CONF") "laptop" ))}}
## NixOS Laptop
size=15
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") (eq (env "NIXOS_CONF") "desktop"))}}
## NixOS Desktop
size=12
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "stheoret") )}}
## Serveur druide
size=13
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS") )}}
## Pop OS
size=13
{{else}}
## Autre
size=10
{{end}}

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[window]
opacity = 0.80
blur = true
dynamic_padding = true
option_as_alt = "Both"


# Colors (Base16 Default Dark)

# Default colors
[colors.primary]
background = '#181818'
foreground = '#d8d8d8'

[colors.cursor]
text = '#181818'
cursor = '#d8d8d8'

# Normal colors
[colors.normal]
black   = '#181818'
red     = '#ab4642'
green   = '#a1b56c'
yellow  = '#f7ca88'
blue    = '#7cafc2'
magenta = '#ba8baf'
cyan    = '#86c1b9'
white   = '#d8d8d8'

# Bright colors
[colors.bright]
black   = '#585858'
red     = '#ab4642'
green   = '#a1b56c'
yellow  = '#f7ca88'
blue    = '#7cafc2'
magenta = '#ba8baf'
cyan    = '#86c1b9'
white   = '#f8f8f8'
