
{{ if not (eq .chezmoi.os "darwin")  }}
{{end}}
[general]
import = [
    "./themes/themes/gruvbox_dark.toml.toml"
]
live_config_reload = true

[font]
{{ if eq .chezmoi.os "darwin"  }}
## Macos
size=14
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") (eq (env "NIXOS_CONF") "laptop" ))}}
## NixOS Laptop
size=13
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") (eq (env "NIXOS_CONF") "desktop"))}}
## NixOS Desktop
size=11
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "stheoret") )}}
## Serveur druide
size=13
{{else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS") )}}
## Pop OS
size=13
{{else}}
## Autre
size=10
{{end}}

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[window]
# opacity = 0.80
# blur = true
dynamic_padding = true
option_as_alt = "Both"
